body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS2CZocuyVkaagNVnxYWZS3aaU-BV1hBs5tPm7EVdpFMayo9ldO&usqp=CAU); 
    /* background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #2F80ED, #56CCF2);  */
}
.contenido {
    margin-top: 40px;
}
h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    border: 1px solid black;
    background: #56CCF2;
}

form {
    background-color: white;
    padding: 50px;
}

.lista {
    list-style: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #56CCF2; 
    background: rgb(219, 246, 255); 
}
.lista li:last-child{
    margin:0;
}